.background {
    background: url(./bg_image.png);
    background-size: 1757px 845px;
    height: 100%;
    width: 1757px;
    background-repeat: no-repeat;
    background-position: center 10%;
    position: absolute;
    left: calc(50% - 878.5px);
    opacity: .9;
    bottom: 0;
}

.signup_form{
    width: 650px;
    position: absolute;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    top: 10%;
}

.title{
    margin: auto;
    width: 320px;
    height: 180px;
    background-size: 320px 180px;
    background-image: url(./project_logo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    #height: 82px;
    position: relative;
}

.title_description{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 15px;
}

.login{
    text-align: center;
}

.field{
    margin-bottom: 10px;
}

#nameInput{
    width: 200px;
}


#passInput{
    width: 200px;
}

.logoutArea{
    width:754px;
    height:50px;
    #margin-bottom:10px;
    background-color:Gainsboro;
    #float: left;
}



input[type=button], input[type=submit], input[type=reset] {
    background-color: CornflowerBlue ;
    border: none;
    color: white;
    padding: 16px 16px;
    height:50px;
    #text-decoration: none;
    #margin: 0px 0px;
    cursor: pointer;

}


.avatar{
    background-color:AliceBlue;
    height: 200px;
    width:250px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


.info {
    text-align: center;
    margin-top:10px;
}

.registerLive{
    border-top: 2px solid Gainsboro;
    margin-top: 180px;
    text-align: center;
    line-height: 30px;
}


.personalInfoArea{
    height:600px;
    width: 250px;
    display:inline-block;
    border-right: 2px solid Gainsboro;
    background-color:LightSkyBlue;
    float: left;
}
.liveListArea{
    height:600px;
    width: 500px;
    display:inline-block;
    border-right: 2px solid Gainsboro;
    float: left;
    border-bottom: 2px solid Gainsboro;
}

.liveListTitle{
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid Gainsboro;
    background-color:LightSkyBlue;
    font-weight: bold;
}

.liveList{
    margin-top:30px;
    line-height: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 30px 0;
}

td {
  padding: 10px 0;
}


.logout, .goback, .endsession{
    display: inline-block;
    margin-right: 20px;
}

.livePage{
    width: 754px;
    height:650px;
    border: 2px solid Gainsboro;
}

.live{
    margin-top:25px;
    overflow : auto;
    width:100%;
    height:525px;
}

.inputBox{
    border-top: 2px solid black;
}

#contentBox{
    width:91%;
}