<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='basic.js') }}"></script>
    <title>Quora - A place to share knowledge and better understand the world</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
    <div class="logoutArea">
        <div class="logout">
            <form class="logout" action="/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </div>
    <div class="personalInfoArea">
        <div class="personalInfo">
            <div class="avatar">
                <img id="avatarPic" src="{{ url_for('static', filename='') }}avatar/{{ user.id }}.png">
            </div>
            <div class="otherInfo">
                <div class="info">
                    {{ user.nick_name }}
                </div>
                <div class="info">
                    Avaiavle Balance: ${{ user.balance }}
                </div>
            </div>
            <div class="registerLive">
                <form class="registerForm" action="/live" method="post">
                    <input type="text" name="type" hidden="hidden" id="liveType0" value="true">
                    Start your own session:
                    <input type="text" name="title" placeholder="Session Name" required="required">
                    <input type="number" name="price" placeholder="Session Price" required="required" min="0">
                    <input type="submit" value="Start a Live Session">
                    <input type="text" name="live_id" hidden="hidden" id="liveID" value="-1">
                </form>
            </div>
        </div>
    </div>
    <div class="liveListArea">
        <div class="liveListTitle">
            Scheduled Session
        </div>
        <div class="liveList">
            <table>
                <tr>
                    <th>Live Name</th>
                    <th>Host Name</th>
                    <th>Price ($)</th>
                    <th>Action</th>
                </tr>
                {% for live in lives %}
                    <tr>
                        <td>{{ live.title }}</td>
                        <td>{{ live.host_name }}</td>
                        <td>
                            {% if 0 == live.price %}
                                free
                            {% else %}
                                {{ live.price }}
                            {% endif %}
                        </td>
                        <td>
                            {% if 0 == live.has_end %}
                            <form class="liveDetails" action="/live" method="post"
                                  onsubmit="return checkValidation({{ live.has_joined }}, {{ live.price }}, {{ user.balance }})">
                                <input type="text" name="live_id" hidden="hidden" id="liveID" value="{{ live.id }}">
                                {% if live.host_id != session.user_id %}
                                    <input type="text" name="type" hidden="hidden" id="liveType1" value="false">
                                    <input type="submit" value="Join Session">
                                {% else %}
                                    <input type="text" name="type" hidden="hidden" id="liveType2" value="true">
                                    <input type="submit" value="Cont. Host">
                                {% endif %}
                                <input type="text" value="join" hidden="hidden" name="TODO">
                            </form>
                            {% else %}
                                <div>Ended</div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>