<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='basic.js') }}"></script>
    <title>Quora - A place to share knowledge and better understand the world</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
{% if not session.logged_in %}
    <div class="background">
        <div class="signup_form">
            <div class="title"></div>
            <div class="title_description">Little Money = Big Knowledge</div>
            <div class="login">
                <div class="field">
                    <span>Login</span>
                    {% if error %}
                        <span>{{error}}</span>
                    {% endif %}
                </div>
                <form action="/login" method="post" onsubmit="validate()">
                    <div class="field">
                        <input type="text" name="name" id="nameInput" placeholder="Email" required="required">
                    </div>
                    <div class="field">
                        <input type="password" name="pass" id="passInput" placeholder="Password" required="required">
                    </div>
                    <div class="field">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <script type="text/javascript">
        window.location = "/home";
    </script>
{% endif %}
</body>
</html>